In [1]:
import pandas as pd

**Write a Pandas program to implement following operation**

[1] --> to create a dataframe from a dictionary and display it

In [2]:
data = {
    "name": ["Gaurav", "Kishan", "Chintan", "Hasan"],
    "age": [17, 22, 17, 17],
    "city": ["Porbandar", "Rajkot", "Ahmedabad", "Vadodra"]
}

df = pd.DataFrame(data)

print("Dataframe From Dictionary:")
print(df)

Dataframe From Dictionary:
      name  age       city
0   Gaurav   17  Porbandar
1   Kishan   22     Rajkot
2  Chintan   17  Ahmedabad
3    Hasan   17    Vadodra

[2] --> to sort the DataFrame first by 'name' in ascending order

In [3]:
df.sort_values(by="name", ascending=True, inplace=True)

print("Sorted Dataframe:")
print(df)

Sorted Dataframe:
      name  age       city
2  Chintan   17  Ahmedabad
0   Gaurav   17  Porbandar
3    Hasan   17    Vadodra
1   Kishan   22     Rajkot

[3] --> to delete the one specific column from the DataFrame

In [4]:
df.drop("age", axis=1, inplace=True)

print("Dataframe:")
print(df)

Dataframe:
      name       city
2  Chintan  Ahmedabad
0   Gaurav  Porbandar
3    Hasan    Vadodra
1   Kishan     Rajkot

[4] --> to write a DataFrame to CSV file using tab separator

In [5]:
df.to_csv('data.csv', sep='\t', index=False)

print("Data written successfully")

Data written successfully