In [1]:
import pandas as pd

**Write a Pandas program to implement following operation**

[1] --> to find and drop the missing values from the given dataset

In [2]:
data = {
    'A': [1, 2, None, 4, 2],
    'B': [5, None, 7, 8, 5],
    'C': ['apple', 'banana', 'apple', 'cherry', 'banana']
}

df = pd.DataFrame(data)

print("Dataframe: ")
print(df)

df.dropna(inplace=True)

print("\nDataframe:")
print(df)

Dataframe:
     A    B       C
0  1.0  5.0   apple
1  2.0  NaN  banana
2  NaN  7.0   apple
3  4.0  8.0  cherry
4  2.0  5.0  banana

Dataframe:
     A    B       C
0  1.0  5.0   apple
3  4.0  8.0  cherry
4  2.0  5.0  banana

[2] --> to remove the duplicates from the given dataset

In [3]:
data2 = {
    'A': [1, 2, 2, 4, 2],
    'B': [5, 6, 7, 8, 9],
    'C': ['apple', 'banana', 'apple', 'cherry', 'banana']
}

df2 = pd.DataFrame(data2)

print("Dataframe: ")
print(df2)

df2.drop_duplicates(subset='C', inplace=True)

print("\nDataframe:")
print(df2)

Dataframe:
   A  B       C
0  1  5   apple
1  2  6  banana
2  2  7   apple
3  4  8  cherry
4  2  9  banana

Dataframe:
   A  B       C
0  1  5   apple
1  2  6  banana
3  4  8  cherry